---
{%  for vpn in vpls_domains %}
{%  set vpn_circuits = vpls_domains[vpn].sites | selectattr('node','equalto',inventory_hostname) | list %}
{%    if vpn_circuits %}
    {{ vpn }}:
        id: {{ vpls_domains[vpn].id }}
        links:
{%      for ckt in vpn_circuits %}
            - interface: {{ ckt.interface }}
              vlan: {{ ckt.vlan }}
              site_id: {{ ckt.site_id }}
{%      endfor %}
{%    endif %}
{% endfor %}