{% set node_id = (lo_ip[inventory_hostname].ip | ipaddr('address')).split('.')[-1] %}
{% set isis_node_id = '.0000.' + '{:0>4}'.format(node_id) + '.00' %}

protocols {
{#
**************************************************
###         ISIS  Variables                  ######
**************************************************
#}
    isis {
{%      if sr_enabled is defined and sr_enabled %}
        source-packet-routing {
            srgb start-label {{srgb_start}} index-range {{ srgb_range }};
            node-segment ipv4-index {{ 400 + node_id|int }};
        }
{%      endif %}
        level 2 wide-metrics-only;
        level 1 disable;
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{ intf.port }} {
            point-to-point;
            level 2 metric {{intf.metric | default(igp_default_metric)}};
        }
{%          endfor %}
        interface lo0.0 {
            passive;
        }
    }
{#
**************************************************
###         MPLS and LLDP  Variables        ######
**************************************************
#}
    mpls {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
    }
    lldp {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
    }
}
