{%  set all_ospf_area = p2p_ip[inventory_hostname]|selectattr('area','defined')|map(attribute='area')|list | unique %}
protocols {
{#
**************************************************
###         OSPF  Variables                  ######
**************************************************
#}
    ospf {
{%  if all_ospf_area %}
{%      for area in all_ospf_area %}
        area {{ area }} {
{%          for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
{%              if 'area' in intf.keys()  %}
{%                  if intf.area == area %}
            interface {{ intf.port }}.{{intf.vlan | default(0)}} {
                interface-type p2p;
                metric {{intf.cost | default(1000)}};
            }
{%                  endif %}
{%              endif %}
{%          endfor %}
{%          if 0 in all_ospf_area and area == 0 %}
            interface lo0.0 {
                passive;
            }
{%          elif 0 not in all_ospf_area %}
            interface lo0.0 {
                passive;
            }
{%          endif %}
        }
{%      endfor %}
{%  else %}
        area {{ospf_area}} {
{%          for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
            interface {{ intf.port }}.{{intf.vlan | default(0)}} {
                interface-type p2p;
                metric {{intf.cost | default(1000)}};
            }
{%          endfor %}
            interface lo0.0 {
                passive;
            }
        }
{%  endif %}
    }
{#
**************************************************
###         LDP  Variables                  ######
**************************************************
#}
    ldp {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
        interface lo0.0;
    }
{#
**************************************************
###         RSVP  Variables                  ######
**************************************************
    #}
    rsvp {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
    }
{#
**************************************************
###         MPLS and LLDP  Variables        ######
**************************************************
#}
    mpls {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
    }
    lldp {
{%      for intf in p2p_ip[inventory_hostname]|sort(attribute='port') %}
        interface {{intf.port}};
{%      endfor %}
    }
}
